---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

### CS178 Machine Learning and Data Mining, Fall 2020 

Teaching Assistant in the fall semester 2020 in Machine Learning course for undergraduate students, under the guidance of Dr [Alexander Ihler](https://www.ics.uci.edu/~ihler/).(Oct2020-Dec2020)


### ECE454 Machine Learning for Data Science and Analytics, Spring 2019 

Teaching Assistant in the spring semester 2019 in Advanced Machine Learning course, under the guidance of Dr [Ilias Houstis](https://www.e-ce.uth.gr/department/faculty/faculty-form-6-3/?lang=en) at UTH.(Feb2019-Jun2019)

<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->
